* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    background-image: url('https://1.bp.blogspot.com/-8P81E4mMHS0/XLPywtw0zhI/AAAAAAAABeU/Gt1tnHjpxwoHE12_j3WKa4L2K6cLWqe8ACEwYBhgL/s1600/BXaygYm.jpg');
    background-position: center;
    background-size: cover;
}


.content {
    padding: 1rem;
}

@media screen and (min-width: 660px) {
    .content {
        max-width: 992px;
        margin: 0 auto;
        height: auto;
        border-radius: 1rem;
        
    }
}